<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phone.test_broadcastreceiver">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".BroardCastReceiver">
            <intent-filter>
                <action android:name="com.org.mybroadcastreceiver"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".PriorityBroadcastReceiver$HighPriority">
            <intent-filter
                android:priority="999"
                >
                <action android:name="com.org.mysortbroadcastreceiver"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".PriorityBroadcastReceiver$MidPriority">
            <intent-filter
                android:priority="888"
                >
                <action android:name="com.org.mysortbroadcastreceiver"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".PriorityBroadcastReceiver$LowPriority">
            <intent-filter
                android:priority="777"
                >
                <action android:name="com.org.mysortbroadcastreceiver"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>